.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("img/gras.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
}

.startscherm > div {
  display: grid;
  justify-items: center;
}

h1 {
  font-family: Lilly;
  font-size: 36px;
}

.button3 {
  font-family: Playtime With Hot Toddies;
  font-size: 28px;
  background: #FF9838;
  border: 3px solid #C97121;
  border-radius: 10px;
}

img {
  width: 300px;
}

.info {
  background: white;
  border-style: solid;
  border-radius: 15px;
  font-family: Playtime With Hot Toddies;
  font-size: 28px;
  padding: 20px;
  width: 50%;
}

li{
  list-style: none;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background: #FF9838;
  border-radius: 40px;
  font-family: Lilly;
  font-size: 36px;
  grid-area: li;
}

#level4 {
  grid-area: level4;
}

#level3 {
  grid-area: level3;
}

#level2{
  grid-area: level2;
}

#level1 {
  grid-area: level1;
}

ul {
  display: grid;
  grid-template-areas:
  ". level4"
  "level3 ."
  "bram level2"
  "level1 .";
}
